extends layout

block content
  h1 #{title}
  .row.justify-content-center.top-buffer
    form(action="get-drives", method="get")
      button.btn.btn-outline-info.btn-block(type="submit") Get-Drives 
    form(action="get-process", method="get")
      button.btn.btn-outline-info.btn-block(type="submit") Get-Process
    form(action="get-userinfo", method="get")
      button.btn.btn-outline-info.btn-block(type="submit") Get-userInfo
  .row.justify-content-center.top-buffer
    if error
      include error
    table.table-sm.table-striped.rounded.border.border-info(cellspacing='0')
    if GetDrives
    if GetProcess
    if GetUserInfo