extends layout

block content
  div.container
    form(action='/runscript' method='post')
      div.form-group
        label Server Name
        textarea.form-control(rows="5" name="server_name")
      div.form-check
        input.from-check-input(type="radio", name="script" value="Get-Drives")
        label.from-check-lable.ml-1 Get-Drives
      div.form-check
        input.from-check-input(type="radio", name="script1" value="New-confPage" disabled)
        label.from-check-lable.ml-1 Create OAT Confluence page
      div.form-group
        p
        button.btn.btn-outline-info(type="submit") Submit
    if errors
      include error
    //- else
    //-   div.alert.alert-success.mt-2(style={display:'block'})
    //-     span Validation Success
    if dataSet
      include out
      